@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-glamour: var(--font-glamour-absolute);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.outline-button {
  @apply cursor-pointer border border-[#BA131C] py-2 px-8 rounded-lg text-sm text-[#BA131C];
}

.secondary-button {
  @apply cursor-pointer py-2 px-8 rounded-lg text-sm text-[#BA131C] bg-[#F7ECEC];
}